@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paprika&display=swap');
body {
  font-family: 'Paprika', cursive;
  width: auto;
  height: 1080px;
  background: linear-gradient( 208deg, rgba(0, 0, 0, 1) 47%, rgba(134, 148, 152, 1) 73%);
}

.conteiner {
  background: #ecf4ff;
  margin: 64px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 30px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
  font-family: 'Paprika', cursive;
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ECF4FF;
  border-radius: 100px;
}

.projetos {
  background: linear-gradient( 208deg, rgba(0, 0, 0, 1) 0%, rgba(134, 148, 152, 1) 30%);
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
  margin-top: 32px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: justify;
}

.social-midia {
  max-height: 32px;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-dev {
  max-height: 33px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 1px;
}

.social-linkedin {
  max-height: 32px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 2px;
}

.projetos-item a {
  text-decoration-color: none;
  text-decoration: none;
  color: inherit;
}

.projetos-item a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.projetos-item {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  margin-top: auto;
  line-height: 15px;
}

a {
  text-decoration-color: none;
  text-decoration: none;
  color: inherit;
}

.dark{
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);

}

.dark .conteiner {
  background: #333439;
color: #F6F6F6;
}

.dark .projetos{
  color:   #1C1C1C;
}

.dark .tema button{
  background: #1C1C1C;
  color: #FFFFFF;
  border: 2px solid #f7f7f7;
  
}